In [1]:
# Dependencies
import json
import requests 
from pprint import pprint
import pandas as pd
from pandas import json_normalize
import urllib
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine
from datetime import datetime, date
import schedule 
import time

In [2]:
# Specify the URL
url = "https://gbfs.citibikenyc.com/gbfs/es/station_status.json"

# Make request and store response
response = requests.get(url)

# Print status code
print(response.status_code)

200

In [3]:
r = requests.get('https://gbfs.citibikenyc.com/gbfs/en/station_status.json')
df = json_normalize(r.json()['data']['stations'])
df.head()

,num_ebikes_available,last_reported,is_renting,station_id,num_bikes_available,num_docks_available,station_status,is_returning,eightd_has_available_keys,num_bikes_disabled,is_installed,legacy_id,num_docks_disabled
0,0,1596484051,1,72,0,53,active,1,False,2,1,72,0
1,0,1596484031,1,79,27,6,active,1,False,0,1,79,0
2,0,1596484248,1,82,21,3,active,1,False,3,1,82,0
3,0,1596483609,1,83,31,31,active,1,False,0,1,83,0
4,0,1596484084,1,116,8,41,active,1,False,1,1,116,0

In [4]:
df2 = df.rename(columns={"num_bikes_available":"bikes_available","num_bikes_disabled":"bikes_disabled","num_docks_available":"docks_available","num_docks_disabled":"docks_disabled","last_reported":"time_reported"})

In [5]:
df2.head()

,num_ebikes_available,time_reported,is_renting,station_id,bikes_available,docks_available,station_status,is_returning,eightd_has_available_keys,bikes_disabled,is_installed,legacy_id,docks_disabled
0,0,1596484051,1,72,0,53,active,1,False,2,1,72,0
1,0,1596484031,1,79,27,6,active,1,False,0,1,79,0
2,0,1596484248,1,82,21,3,active,1,False,3,1,82,0
3,0,1596483609,1,83,31,31,active,1,False,0,1,83,0
4,0,1596484084,1,116,8,41,active,1,False,1,1,116,0

In [6]:
bike_df = df2[["station_id","bikes_available","bikes_disabled","docks_available","docks_disabled","time_reported"]]

In [7]:
bike_df.head()

,station_id,bikes_available,bikes_disabled,docks_available,docks_disabled,time_reported
0,72,0,2,53,0,1596484051
1,79,27,0,6,0,1596484031
2,82,21,3,3,0,1596484248
3,83,31,0,31,0,1596483609
4,116,8,1,41,0,1596484084

In [8]:

last_reported = datetime.fromtimestamp(bike_df.loc[0,"time_reported"])

In [9]:
last_reported

datetime.datetime(2020, 8, 3, 12, 47, 31)

In [10]:
def epoch_to_readable(xepoch):
    
    return datetime.fromtimestamp(xepoch)

bike_df['time_reported'] = bike_df.apply(lambda x: epoch_to_readable(x['time_reported']), axis = 1 )

<ipython-input-10-5919d25c1233>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bike_df['time_reported'] = bike_df.apply(lambda x: epoch_to_readable(x['time_reported']), axis = 1 )

In [11]:
bike_df.head()

,station_id,bikes_available,bikes_disabled,docks_available,docks_disabled,time_reported
0,72,0,2,53,0,2020-08-03 12:47:31
1,79,27,0,6,0,2020-08-03 12:47:11
2,82,21,3,3,0,2020-08-03 12:50:48
3,83,31,0,31,0,2020-08-03 12:40:09
4,116,8,1,41,0,2020-08-03 12:48:04

In [12]:
db_connection_string = "postgres:jaigurudev@localhost:5432/FinalProject"
engine = create_engine(f'postgresql://{db_connection_string}')

In [13]:
engine.table_names()

['bikes']

In [14]:
bike_df.to_sql(name = 'bikes',con = engine , if_exists = 'append',index = False)

In [15]:
pd.read_sql_query('select * from bikes', con=engine).head()

,station_id,bikes_available,bikes_disabled,docks_available,docks_disabled,time_reported
0,72,0,1,54,0,2020-08-03 11:56:58
1,79,29,0,4,0,2020-08-03 11:57:56
2,82,23,2,2,0,2020-08-03 12:04:28
3,83,32,0,30,0,2020-08-03 12:06:49
4,116,5,1,44,0,2020-08-03 12:06:09